* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-color: aliceblue;
}
/* header area */
.header-section .header-area {
  width: 70%;
  margin: 0 auto;
  /* padding: 30px 0; */
}
.header-section .header-area img {
  width: 300px;
  margin: 0 auto;
  display: block;
}

/* hero area */

.hero-section {
  width: 100%;
  height: 300px;
  margin: 35px 0;
  background: url(../assets/images/page-title.jpg) center/cover no-repeat;
  position: relative;
}
.hero-section::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.hero-section .heroarea {
  max-width: 50%;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

.hero-section .heroarea h1 {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  text-transform: capitalize;
}
.hero-section .heroarea p {
  max-width: 400px;
  margin: 20px auto 0;
  text-align: center;
  color: #ffffff;
}
.input-section {
  max-width: 40%;
  margin: 0 auto;
}
.input-section .input-group .form-control:focus {
  outline: none;
  box-shadow: none;
}
.input-section .input-group .input-group-text {
  background-color: #fbbd23;
}

/* foods/meals area with api */
.food-section {
  max-width: 100%;
  margin: 30px 20px;
}
.food-section h2 {
  max-width: 100%;
  text-align: center;
}
.food-section .meals-area {
  width: 100%;
  margin: 30px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 15px;
}
.food-section .meals-area .recipes {
  width: 290px;
  height: 370px;
  background: #ffffff;
  border-radius: 20px 20px 0 0;
  position: relative;
}
.food-section .meals-area .recipes img {
  width: 290px;
  height: 200px;
  border-radius: 20px 20px 0 0;
}
.food-section .meals-area .recipes h2 {
  text-align: left;
  font-size: 20px;
  margin: 10px 10px;
}
.food-section .meals-area .recipes p {
  text-align: left;
  margin-left: 10px;
  margin-right: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.food-section .meals-area .recipes button {
  background: #fbbd23;
  border: none;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  top: 323px;
  right: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
.food-section .meals-area .recipes button:hover {
  background-color: rgb(211, 152, 2);
  transform: scale(1.05);
}

/* modals area */

.recipesmodal-area {
  width: 600px;
  display: none;
  border-radius: 20px 20px;
  position: fixed;
  top: 20px;
  left: 26%;
  z-index: 999;
  box-shadow: -1px -1px 96px -23px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: -1px -1px 96px -23px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: -1px -1px 96px -23px rgba(0, 0, 0, 0.52);
}
.recipesmodal-area .recipesDetails {
  width: 600px;
  height: 500px;
  background: #ffffff;
  border-radius: 20px 20px;
  position: relative;
}
.recipesmodal-area .recipesDetails img {
  width: 530px;
  height: 250px;
  display: inline-block;
  position: relative;
  left: 5.5%;
  top: 10px;
  border-radius: 20px 20px 0 0;
}
.recipesmodal-area .recipesDetails h2 {
  text-align: left;
  font-size: 20px;
  margin: 20px 10px 0 33px;
}
.recipesmodal-area .recipesDetails p {
  text-align: left;
  margin-left: 33px;
  margin-right: 20px;
  font-size: 8px;
}
.recipesmodal-area .recipesDetails button {
  background: #fbbd23;
  border: none;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  top: 445px;
  right: 40px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
.recipesmodal-area .recipesDetails button:hover {
  background-color: rgb(211, 152, 2);
  transform: scale(1.05);
}
