* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-color: aliceblue;
}

/* header area */

.header-section .header-area {
  width: 70%;
  margin: 0 auto;
}
.header-section .header-area img {
  width: 150px;
  margin: 0 auto;
  display: block;
}

/* hero area */

.hero-section {
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
  background: url(../assets/images/page-title.jpg) center/cover no-repeat;
  position: relative;
}
.hero-section::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.hero-section .heroarea {
  max-width: 50%;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

.hero-section .heroarea h1 {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  text-transform: capitalize;
}
.hero-section .heroarea p {
  max-width: 400px;
  margin: 20px auto 0;
  text-align: center;
  color: #ffffff;
}
.input-section {
  max-width: 40%;
  margin: 0 auto;
}
.input-section .input-group .form-control:focus {
  outline: none;
  box-shadow: none;
}
.input-section .input-group .input-group-text {
  background-color: #fbbd23;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
.input-section .input-group .input-group-text:hover {
  background: rgb(180, 130, 4);
  transform: scale(1.05);
}
.input-section .input-group .input-group-text .bi-search {
  color: #ffffff;
}

/* resposive hero area  */

@media screen and (max-width: 575px) {
  .hero-section .heroarea h1 {
    font-size: 35px;
  }
  .hero-section .heroarea p {
    max-width: 400px;
    font-size: 15px;
  }
  .input-section {
    max-width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .hero-section .heroarea h1 {
    font-size: 20px;
  }
  .hero-section .heroarea p {
    max-width: 400px;
    font-size: 11px;
  }
}

/* foods/meals area with api */

.food-section {
  max-width: 100%;
  margin: 10px 20px;
  padding-bottom: 30px;
}
.food-section h2 {
  max-width: 100%;
  text-align: center;
}
.food-section .meals-area {
  width: 93%;
  margin: 30px auto 50px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 15px;
}
.food-section .meals-area .nodataFound {
  text-align: center;
  font-size: 25px;
  color: #c40000;
}
.food-section .meals-area .recipes {
  width: 270px;
  height: 370px;
  background: #ffffff;
  border-radius: 20px 20px 0 0;
  position: relative;
}
.food-section .meals-area .recipes img {
  width: 270px;
  height: 200px;
  border-radius: 20px 20px 0 0;
}
.food-section .meals-area .recipes h2 {
  text-align: left;
  font-size: 17px;
  margin: 10px 10px;
}
.food-section .meals-area .recipes p {
  font-size: 11px;
  text-align: left;
  margin-left: 10px;
  margin-right: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.food-section .meals-area .recipes button {
  background: #fbbd23;
  border: none;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  top: 323px;
  right: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
.food-section .meals-area .recipes button:hover {
  background-color: rgb(211, 152, 2);
  transform: scale(1.05);
}

/* reposive food section */

@media screen and (max-width: 1250px) {
  .food-section .meals-area {
    justify-content: space-around;
    align-items: center;
  }
  .food-section .meals-area .recipes {
    width: 31%;
  }
  .food-section .meals-area .recipes img {
    width: 100%;
  }
}
@media screen and (max-width: 991.98px) {
  .food-section .meals-area {
    row-gap: 25px;
  }
  .food-section .meals-area .recipes {
    width: 31%;
  }
  .food-section .meals-area .recipes img {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .food-section .meals-area .recipes {
    width: 45%;
  }
}
@media screen and (max-width: 575px) {
  .food-section .meals-area .recipes {
    width: 90%;
  }
}

/* loading snipper area */
#spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid rgb(125, 178, 2);
  border-right: 4px solid #c40000;
  border-left: 4px solid #c0c006;
  border-bottom: 4px solid #1e00b5;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: relative;
  margin: 45px 0 200px;
  left: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* modals area */

.modal-section .recipesmodal-area {
  width: 600px;
  display: none;
  border-radius: 20px 20px;
  position: fixed;
  top: 20px;
  left: 26%;
  z-index: 999;
  box-shadow: -1px -1px 96px -23px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: -1px -1px 96px -23px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: -1px -1px 96px -23px rgba(0, 0, 0, 0.52);
}
.modal-section .recipesmodal-area .recipesDetails {
  width: 600px;
  height: 500px;
  background: #ffffff;
  border-radius: 20px 20px;
  position: relative;
}
.modal-section .recipesmodal-area .recipesDetails img {
  width: 530px;
  height: 250px;
  display: inline-block;
  position: relative;
  left: 5.5%;
  top: 10px;
  border-radius: 20px 20px 0 0;
}
.modal-section .recipesmodal-area .recipesDetails h2 {
  text-align: left;
  font-size: 20px;
  margin: 20px 10px 0 33px;
}
.modal-section .recipesmodal-area .recipesDetails p {
  text-align: left;
  margin-left: 33px;
  margin-right: 20px;
  font-size: 8px;
}
.modal-section .recipesmodal-area .recipesDetails button {
  background: #fbbd23;
  border: none;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  top: 445px;
  right: 40px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
.modal-section .recipesmodal-area .recipesDetails button:hover {
  background-color: rgb(211, 152, 2);
  transform: scale(1.05);
}

/* responsive modal area */
@media screen and (max-width: 991.98px) {
  .modal-section .recipesmodal-area {
    width: 500px;
    top: 25px;
    left: 20%;
  }
  .modal-section .recipesmodal-area .recipesDetails {
    width: 500px;
  }
  .modal-section .recipesmodal-area .recipesDetails img {
    width: 430px;
  }
}
@media screen and (max-width: 768px) {
  .modal-section .recipesmodal-area {
    width: 400px;
    top: 25px;
    left: 20%;
  }
  .modal-section .recipesmodal-area .recipesDetails {
    width: 400px;
  }
  .modal-section .recipesmodal-area .recipesDetails img {
    width: 360px;
  }
}
@media screen and (max-width: 575px) {
  .modal-section .recipesmodal-area {
    width: 350px;
    left: 15%;
  }
  .modal-section .recipesmodal-area .recipesDetails {
    width: 350px;
    height: 600px;
  }
  .modal-section .recipesmodal-area .recipesDetails img {
    width: 330px;
    left: 2.5%;
  }
  .modal-section .recipesmodal-area .recipesDetails h2 {
    font-size: 15px;
    margin: 20px 5px 5px 10px;
  }
  .modal-section .recipesmodal-area .recipesDetails p {
    margin-left: 10px;
  }
  .modal-section .recipesmodal-area .recipesDetails button {
    top: 550px;
  }
}
@media screen and (max-width: 480px) {
  .modal-section .recipesmodal-area {
    width: 300px;
  }
  .modal-section .recipesmodal-area .recipesDetails {
    width: 300px;
  }
  .modal-section .recipesmodal-area .recipesDetails img {
    width: 300px;
    left: 0;
    top: 0;
  }
}

/* backtotopbtn area */

.backtotop-section .backtotopbtn-area {
  width: 30px;
  height: 30px;
  background-color: #0d9f9c;
  border: 4px solid #020bbe;
  border-radius: 50%;
  position: fixed;
  top: 460px;
  right: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.03s, transform 0.2s;
  display: none;
}

.backtotop-section .backtotopbtn-area:hover {
  background-color: #c40000;
  transform: scale(1.05);
}

.backtotop-section .backtotopbtn-area .bi-arrow-up-short {
  font-size: 23px;
  color: #ffffff;
}
