* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-color: aliceblue;
}
/* header area */
.header-section .header-area {
  width: 70%;
  margin: 0 auto;
  /* padding: 30px 0; */
}
.header-section .header-area img {
  width: 300px;
  margin: 0 auto;
  display: block;
}

/* hero area */

.hero-section {
  width: 100%;
  height: 300px;
  margin: 35px 0;
  background: url(../assets/images/page-title.jpg) center/cover no-repeat;
  position: relative;
}
.hero-section::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.hero-section .heroarea {
  max-width: 50%;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

.hero-section .heroarea h1 {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  text-transform: capitalize;
}
.hero-section .heroarea p {
  max-width: 400px;
  margin: 20px auto 0;
  text-align: center;
  color: #ffffff;
}
.input-section {
  max-width: 40%;
  margin: 0 auto;
}
.input-section .input-group .form-control:focus {
  outline: none;
  box-shadow: none;
}
.input-section .input-group .input-group-text {
  background-color: #fbbd23;
}
.food-section {
  max-width: 70%;
  margin: 30px auto 30px;
}
.food-section h2 {
  max-width: 100%;
  text-align: center;
}
.food-section .ood-area {
  max-width: 60%;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
